@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: GMarketSans;
  line-height: 1.6;
}
header,
nav,
main,
section,
article,
aside,
footer {
  padding: 20px;
}
header {
  background-color: rgb(0, 255, 149);
  text-align: center;
}
nav {
  background-color: #555;
  color: white;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  justify-content: center;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}
section {
  background-color: ivory;
  padding: 20px;
  border-radius: 10px;
}
article {
  margin-bottom: 20px;
}
article h2 {
  margin-bottom: 10px;
}
aside {
  background-color: #fefbd8;
  padding: 20px;
  border-radius: 8px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
